.ui {
  margin: 0;
}

.ui-dialog-message, .ui-dialog-icon {
  display: inline;
}

.ui-dialog-buttons {
  position: absolute;
  bottom: 0;
}

.ui-taskbar {
  display: inline;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  margin: 0;
}

.ui-shiftorium: {
  min-width: 50vw;
}

.ui-shiftorium-section * {
  display: inline;
}

.ui-shiftorium-upgrades-list {
  height: 90%;
}

.ui-shiftorium-upgrades, .ui-shiftorium-info {
  width: 50%;
}

.ui-shiftorium-image {
  width: 100%;
}

.ui-shiftorium-upgrades, .ui-shiftorium-info, .ui-shiftorium-buttons {
  background-color: #eee;
}

.ui-shiftorium-title * {
  text-align: center;
}
