.ui {
  margin: 0;
}

.ui-dialog-message, .ui-dialog-icon {
  display: inline;
}

.ui-dialog-buttons {
  background-color: #efefef;
}

.ui-taskbar {
  display: inline;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin: 0;
}
